<!-- template for adding complaint -->

<h3 class = middleHeader>Add a Complaint!</h3>

<div class = "formDiv"><form method="POST" action = "/complain">
    Complaint: <input class = textIn  type="text" name="complaint" value=""> Subway Line: <input id = "lineIn" type="text" name="line" value="">
    <input type="submit" value = "Complain!">
</form>
</div>