<!-- default layout -->

<!DOCTYPE html>
<head>
    <title>The Complaining Commuter</title>
    <link rel="stylesheet" href="/css/base.css" type="text/css" charset="utf-8">
</head>
<body>
    <h1>The Complaining Commuter</h1>
    <div id = "subwaydiv"><img id = "subway" src = "/img/subway.jpg" alt = "Subway Image"></div>


    <hr>
    {{{ body }}}
    <hr>


    <br/>
    <br/>

    <footer id = "links">

    <a href = "/">Complaint List</a>
        <span>|</span>
    <a href = "/complain">Complain</a>

    </footer>
</body>
</html>
