<!-- default layout -->

<!DOCTYPE html>
<head>
    <title>NYU Course Review</title>
    <link rel="stylesheet" href="/css/base.css" type="text/css" charset="utf-8">
</head>
<body id = 'body'>
<h1>NYU Course Review</h1>

<hr>
{{{ body }}}


<br/>

<h4>Page Links</h4>
<footer id = "links">

    <a href = "/">All Reviews</a>
    <span>|</span>
    <a href = "/reviews/add">Add a Review!</a>
    <span>|</span>
    <a href = "/reviews/mine">My Reviews</a>
    <br/>
    <br/>
    <div>Your session's total page visits: {{count}}</div>
</footer>
</body>
</html>